body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 7%;
    background-color: #efefef;
     
     
}
.Logo{
    color: black;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
}
.Logo a{
    text-decoration: none;
    color: black;
}
.Logo span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: 0.3s;
     
}
.nav_btn{
    border: none;
    background-color: rgba(0, 136, 169, 1);
    padding: 12px 30px;
    border-radius: 30px;
    transition: 0.4s;
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.nav_btn:hover{
    background-color: rgba(0, 136, 169, 0.8);

}
 
.top{
    width: 118rem;
    height: 40rem;
    /* border: 1px solid red;  */
    position: absolute;
    top: 12rem;
    left: 0.5rem;
}
.top_content{
    width: 50rem;
    height: 30rem;
    /* border: 1px solid green;   */
    position: absolute;
    top: 4.5rem;
    left: 10rem;
     
}
.top_content h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
}
.top_content p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 12rem;
}
.top_content button{
     
    font-weight: bold;
    border-radius: 50px;
    width: 130px;
    height: 45px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 20rem;
    left: 21rem;

}
.top_content button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
.top_img{
    /* background-image: url(Image/3.jpg) no-repeat; */
    width: 50rem;
    height: 30rem;
    /* border: 1px solid red;  */
    position: absolute;
    top: 4.5rem;
    left: 60rem;
    display: flex;
}
.top_img img{
    max-width: 100%;
    max-height: 100%;
}

.whoweare{
    width: 118rem;
    height: 40rem;
    /* border: 1px solid blue;  */
    position: absolute;
    top: 52.5rem;
    left: 0.5rem;
    background-color: #efefef;
     
     
}
.whoweare h1{
    text-align: center;
    line-height: 70px;
    font-size: 35px;

}
.whoweare_img{
    width: 50rem;
    height: 30rem;
    /* border: 1px solid orangered;  */
    position: absolute;
    top: 5rem;
    left: 10rem;
    display: flex;
    /* background-image: url(Image/2.jpg); */
}
.whoweare_img img{
    max-width: 100%;
    max-height: 100%;
     
}
.whoweare_content{
    width: 50rem;
    height: 30rem;
    /* border: 1px solid black; */
    position: absolute;
    top: 7rem;
    left: 60rem;
    padding-right: 5px;
    padding-left: 5px;
}
.whoweare_content p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    line-height: 32px;
    padding-top: 30px;
}
.legal{
    position: absolute;
    top: 1rem;
    left: 48rem;
    font-size: 35px;
}
.LPA{
    width: 118rem;
    height: 80vh;
    /* border: 1px solid rebeccapurple;  */
    position: absolute;
    top: 92.5rem;
    display: flex;
    justify-content: center;
    left: 0.5rem;
    background: white;
    align-items: center;

}
.container{
    display: flex;
     
}
.card1{
    height: 500px;
    width: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.card1 img{
    height: 500px;
    width: 400px;
    border-radius: 3px;
}
.intro{
    height: 70px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 130px;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    transition: 0.5s;
}
.intro h1{
    margin: 10px;
    font-size: 30px;
}
.intro p{
    font-size: 14px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
.card1:hover{
    cursor: pointer;
}
.card1:hover .intro{
    height: 200px;
    bottom: 130px;
    background: black;
}
.card1:hover p{
    opacity: 1;
    visibility: visible;
}
.card1:hover img{
    transform: scale(0.8) ;
}
.lawyer_body{
    min-height: 100vh;
    width: 118rem;
    /* border: 2px solid coral; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 140rem;
    left: 0.5rem;
    background-color: #efefef;
}
.lawyer_body h3{
    font-size: 40px;
    font-weight: bold;
    color: black;
    /* border: 1px solid black; */
    position: absolute;
    top: 1rem;
}
.slide_container{
    max-width: 1120px;
    width: 100%;
    /* background-color: whitesmoke; */
    padding: 40px 0;
    /* border: 1px solid crimson;  */
}
.card_image{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #ea1538;
    padding: 3px;
}
.card_image .card_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ea1538; 
}
.card{
     
    /* border: 1.5px solid black; */
    border-radius: 25px;
    background-color: #FFF;
    width: 320px; 
}
.slide_content{
    
    margin: 0 18px;
    
    /* background-color: #ea1538; */
     
    /* border-radius: 25px; */
}
.image_content,
.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image_content{
    position: relative;
    row-gap: 5px;
    padding: 10px 14px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ea1538;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -0px;
    height: 40px;
    width: 40px;
    background-color: #ea1538;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #ea1538;
}
.name{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: justify;

}
.botam{
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
    padding: 8px 16px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botam:hover{
     background-color: rgba(0, 136, 169, 0.8);
}
.swiper-navBtn{
    color: #4070f4;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination.bullet{
    background-color: #6e93f7;
    opacity: 1;
}
.swiper-pagination.bullet-active{
    background-color: #4070f4;
}

.modal_Saul{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 69rem;
    top: 0rem;
    max-width: 1320px;
    height: 100%;
    width: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #4070f4;
    border-radius: 25px;
}
.modal_content_Saul{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 25px;
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}
.modal_Murdock{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 92.5rem;
    top: 0rem;
    max-width: 1320px;
    height: 100%;
    width: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #ea1538;
    border-radius: 25px;
}
.modal_content_Murdock{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 25px;
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}
.modal_Wexler{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 115.5rem;
    top: 0rem;
    max-width: 1320px;
    height: 100%;
    width: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #FEC260;
    border-radius: 25px;
}
.modal_content_Wexler{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 25px;
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}
.modal_Chilles{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 138.5rem;
    top: 0rem;
    max-width: 1320px;
    height: 100%;
    width: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #59CE8F;
    border-radius: 25px;
}
.modal_content_Chilles{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 25px;
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}
.modal_Gambini{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 161.5rem;
    top: 0rem;
    max-width: 1320px;
    height: 100%;
    width: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #B93160;
    border-radius: 25px;
}
.modal_content_Gambini{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 25px;
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}
.modal_Vasquez{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 184.5rem;
    top: 0rem;
    max-width: 1320px;
    height: 100%;
    width: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    background-color: #2C3333;
    border-radius: 25px;
}
.modal_content_Vasquez{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    height: 80%;
    width: 70%;
    border-radius: 25px;
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1.5s;
}
 
 
 
.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}
.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalOpen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width:768px) {
    .slide_content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    
}
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px){
    
}

.boxx{
    width: 70rem;
    height: 35rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #ea1538;
    font-size: 20px;
    line-height: 80px;

}
.submit{
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
    padding: 8px 16px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 6px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 45rem;
    left: 55rem;
}
.submit:hover{
     background-color: rgba(0, 136, 169, 0.8);
}
 
 